---
import { t } from "~/i18n/labels";

import Section from "~/components/Section.astro";
import Experience from "~/components/Experience.astro";

const experiences = [
  {
    title: "Social Media & Community Growth Consultant",
    company: "ATS",
    website:
      "https://www.linkedin.com/company/ata-services-one-stop-solutions/mycompany/",
    from: new Date("2023-11-01"),
    location: "Bangkok, Thailand",

    summary: `I provide consultation services and assist startups in building online communities around their products by leveraging gamification, social media management and web3 marketing strategies. During this process I operate as the middleman between the development team and their community. I help my clients to identify a focal point, set up a content calendar structure and launch social campaigns.`,
  },
  {
    title: " Social Media & Community Manager",
    company: "FinFin Play | Fashion League",
    website: "https://www.playfashionleague.com/",
    from: new Date("2023-03-01"),
    to: new Date("2023-10-01"),
    location: "Zürich, Switzerland",

    summary: `I have joined the team to build, grow and manage our game's web3 community leading up to our game launch. My specialty in this team was to identify low cost and effective social campaigns using gamification in order to rapidly push community growth. 

My main challenges at Fashion League were:
- Driving Discord and X community growth by 550%.
- Increase retention rate by 6% leading up to the launch 
- Designing web3 community activies.
- Compiling and presenting insight reports to our development team.`,
  },
  {
    title: "Head of Community",
    company: "Crabada (Avalanche Network)",
    website: "https://twitter.com/PlayCrabada",
    from: new Date("2022-04-01"),
    to: new Date("2023-03-01"),
    location: "Singapore",

    summary: `At Crabada, I was in charge of overseeing community interactions for an expansive player base exceeding 80,000 across various social channels. I successfully sustained and elevated community engagement in a challenging market downturn through strategic gamification initiatives. I also liaison between the development team and community.

- Consult dev team on game features based on community desires
- Lead 15 people in my department
- Created a modular Discord community structure.
- Enhanced support pipeline by creating automations that integrated with the developers' Jira workflow.`,
  },
  {
    title: "Marketing Lead",
    company: "Moor",
    website: "https://www.instagram.com/moorseoul/?hl=en",
    from: new Date("2019-03-01"),
    to: new Date("2022-03-01"),
    location: "Seoul, South-Korea",

    summary: `I strategized and launched online campaigns to organically increase costumer conversion for Moor, a 382m2 event space in the heart of Seoul. My responsibilities included all event management, creative content design and video editing which allowed for efficient A/B testing. 

-Launched customer loyalty program with over 20% adoption rate.
-Provide monthly insights reports to guide strategy.
-Built a community of over 5000 loyal costumers.`,
  },
  {
    title: "Marketing Manager",
    company: "Air Heads",
    website: "n/a",
    from: new Date("2019-02-01"),
    to: new Date("2019-12-01"),
    location: "Amsterdam, The Netherlands",

    summary: `I consulted and outsourced conceptualization for large scale inflatables used at festivals and concerts. During this time I managed a large network of 3d conceptual artists, product designers and fabric suppliers that we utilize in order to produce high-end inflatable props and landmarks. 
    Clients I did proposals for: 
    -GQ Korea 
    -Kanye West Asia Tour
    -MLB Baseball Fanfest Korea`,
  },
  {
    title: "Community Manager & Game Designer",
    company: "Crown Games",
    website:
      "https://play.google.com/store/apps/details?id=com.crown.mobile.sloticamobile&hl=en&gl=US",
    from: new Date("2016-01-01"),
    to: new Date("2018-01-01"),
    location: "Seoul, South-Korea",

    summary: `I tactfully deployed community strategies to engage and retain our players in Slotica Casino, ranked #42 Top Grossing Game on Facebook. Slotica had 250,000 registered players and 40,000 Daily Active Users at the time. 
I also acted as a multilingual liaison for advertisement agencies such as Bidalgo and DAUUP to 
ensure KPI targets were reached within the monthly budget of $100,000 USD. During my tenure I learned the importance of offering excquisite customer support.`,
  },
  {
    title: "Partner Engagement Manager",
    company: "CSP Media",
    website: "https://www.linkedin.com/company/csp-media-inc-/about/",
    from: new Date("2013-02-01"),
    to: new Date("2015-11-01"),
    location: "Pangyo, South-Korea",

    summary: `I procured and established publishing deals with MHT Game (Shenzhen), HFNet (Taipei), Togic (Shenzhen) to embed CSP Media’s game platform on their Set-Top Box and Smart TV’s.  
-Identified investment opportunities and lead initial seed round. 
-Helped organize a Game Jam
-Partnered with top University HKU to offer student internships within our company.`,
  },
];
---

<Section class="experiences" title={t("experiences")}>
  <ol>
    {
      experiences.map((experience) => (
        <li>
          <Experience {...experience} />
        </li>
      ))
    }
  </ol>
</Section>

<script>
  const VISIBLE = "visible";
  const experiences = [
    ...document.querySelectorAll(".experiences .experience"),
  ];

  function onClick(evt: Event) {
    const { classList } = evt.currentTarget as HTMLElement;
    const hadVisible = classList.contains(VISIBLE);

    experiences.forEach((experience) => experience.classList.remove(VISIBLE));
    if (!hadVisible) classList.add(VISIBLE);
  }

  // addListener
  experiences.forEach((experience) => {
    experience.addEventListener("click", onClick);
  });
</script>

<style is:global>
  .experiences {
    counter-reset: experiences;
    grid-area: experiences;
  }

  .experiences ol {
    padding: 0;
    list-style: none;
  }

  @media screen and (min-width: 768px), print {
    .experiences li:first-child .experience {
      padding-top: 0;
      border-top: none;
    }
    .experiences li:last-child .experience {
      border-bottom: none;
    }
  }
</style>
